<div class="main-content" >
    <section class="row-section">
        <div class="container">
            <br>
            <div class="col-md-12 offset-md-1 row-block">
                <ul id="sortable">
                    <li>
                        <form class="form-inline md-form mr-auto mb-4" >
                            <input #filterPhrase name="filterPhrase" class="form-control mr-sm-2" style="margin-left:5px;" type="text" placeholder="Wyszukaj" aria-label="Search">
                            <button style="margin-left:5px;" class="btn btn-default" (click)="filterByPhrase(filterPhrase.value)">Wyszukaj</button>
                            <mat-form-field style="float: right;">
                                <select matNativeControl (change)="sortBooks($event.target.value)" >
                                    <option *ngFor="let sortParam of sortParam | keyvalue">{{sortParam.value}}</option>
                                </select>
                            </mat-form-field>
                        </form>
                        <div *ngFor="let book of filteredBooks" class="media" style="clear: both;">
                            <div class="media-left align-self-center">
                                <img class="rounded-circle" src="{{ book.imageLink}}">
                            </div>
                            <div class="media-body">
                                <h4>{{ book.title}}</h4>
                                <p>
                                    <star-rating value={{book.ownRating}} totalstars={{totalstar}} checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                                </p>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-default" [routerLink]= "['/book', book.id]" >Szczegóły</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>