<div class="main-content" >
    <section class="row-section">
        <div class="container">
            <br>
            <div class="col-md-12 offset-md-1 row-block">
                <ul id="sortable">
                    <li>
                        <div *ngFor="let book of booksInRegister" class="media">
                            <div class="media-left align-self-center">
                                <img class="rounded-circle" src="{{ book.imageLink}}">
                            </div>
                            <div class="media-body">
                                <h4>{{ book.title}}</h4>
                                <p>
                                    <star-rating value={{book.ownRating}} totalstars={{totalstar}} checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                                </p>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-default" [routerLink]= "['/book', book.id]" >Szczegóły</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>